.content-section {
  width: 100%;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1, 109px);
  place-content: center space-evenly;
  place-items: center start;
  width: 1440px;
  padding: 92px 49px 92px 51px;
}

.header__menu-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  margin-bottom: 1px;
  margin-left: 0px;
}

.header__link {
  color: #000;
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
}

.header__links-list-item_no-bullit,
.header__link_active {
  color: #000;
  font-size: 18px;
  list-style: none;
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 140px;
  justify-self: center;
  align-self: center;
}

.header__logo-image {
  width: 100%;
}

.header__contacts {
  align-self: center;
  justify-self: end;
  margin-bottom: 1px;
  margin-right: 3px;
}

.header__contacts-link {
  display: block;
  color: #000;
  font-size: 18px;
  text-underline-position: under;
  line-height: 24.3px;
}

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  width: 1440px;
  height: 757px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 165px 50px 237px 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6000000238418579;
  background-color: #000000;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.accent-span {
  display: block;
}

.text_center {
  line-height: 100%;
  text-align: center;
}

.text_right {
  line-height: 100%;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.form-content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  padding: 135px 0 0;
}

.text-style {
  color: #fff;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: normal;
}

.form-item {
  display: block;
}

.text {
  display: block;
  justify-content: center;
  line-height: 1.27;
  word-spacing: 18px;
}

.button {
  width: 257px;
  height: 52px;
  border: 1px solid #fff;
  background: transparent;
}

.lots {
  width: 1340px;
  height: 579px;
  margin-top: 180px;
}
.title_section {
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 0 0 27px 40px;
}
.lots__card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  list-style: none;
}

.card__title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
}

.lots__card-list-item {
  position: relative;
  background-size: contain;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  height: 450px;
  padding: 50px 40px 50px 40px;
  flex-wrap: wrap;
}

.lots__look-more-link {
  padding-top:30px;
  padding-left: 40px;
  height: 55px;
  font-size: 20px;
  text-decoration-line: underline;
  text-underline-position: under;
}
